/* Grid */

.container{
    max-width: 1200px;
    padding: 0 $gutter*2;
    margin: 0 auto;
}

.content{
    width: $col*2;
    min-height: 100vh;
    position: relative;
    z-index: 10;
    background: $white;
}
