.map{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.marker{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #c5b274;
    cursor: pointer;
}
